{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<h3>Myself:</h3>
<p>
    I learn by doing and I am happiest when I am in way over my head.
    From Python to TIG welding, I've learned most of my skills on the fly while solving a problem.  
    I thrive on the feeling of uncertainty one feels while struggling through the steep part of a learning curve or trying a crazy new idea that just might work. 
</p>

<h3>This website:</h3>
<p>
    Annejulian.net is built on Flask and hosted with AWS Lambda.  Source code can be found <a href="https://github.com/rustycontraption/annejuliannet">here</a>.
</p>


        
{% endblock %}
