{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<h3>Myself:</h3>
<p>
    I learn by doing and I am happiest when I am in way over my head.
    From Python to TIG welding, I've learned most of my skills on the fly while solving a problem.  
    Stubborn determination and force of will fuel me through the steepest of learning curves.  I am far more concerned with  
    how something can be done, not if it can be done.
</p>

<h3>This website:</h3>
<p>
    Annejulian.net is built on Flask and hosted with AWS Lambda.  Source code can be found <a href="https://github.com/rustycontraption/annejuliannet">here</a>
</p>


        
{% endblock %}
