{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="gallery">

    <a class="lightbox" href="#img20"><img src="static/img/gs750/magazine_sm.jpg"></a>
    <div id="img20" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/gs750/magazine.jpg"/>
        <br><br><h2 class="lightbox-caption">An old advert for reference since I didn't take a picture before I started.</h2>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img27" class='previous'><</a>
        <a href="#img21" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img21"><img src="static/img/gs750/coatrack_sm.jpg"></a>
    <div id="img21" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/gs750/coatrack.jpg"/>
        <br><br><h2 class="lightbox-caption">I needed to learn to weld for this project so I made this coat rack with the TIG welder I had available to me.</h2>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img20" class='previous'><</a>
        <a href="#img22" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img22"><img src="static/img/gs750/skateboard_sm.jpg"></a>
    <div id="img22" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/gs750/skateboard.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img21" class='previous'><</a>
        <a href="#img23" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img23"><img src="static/img/gs750/fiberglass_sm.jpg"></a>
    <div id="img23" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/gs750/fiberglass.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img22" class='previous'><</a>
        <a href="#img24" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img24"><img src="static/img/gs750/seat_sm.jpg"></a>
    <div id="img24" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/gs750/seat.jpg"/>
        <br><br><h2 class="lightbox-caption">Foam and upholstery were done by Mac's Upholstery in Ballard.</h2>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img23" class='previous'><</a>
        <a href="#img25" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img25"><img src="static/img/gs750/standoffs_sm.jpg"></a>
    <div id="img25" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/gs750/standoffs.jpg"/>
        <br><br>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img24" class='previous'><</a>
        <a href="#img26" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img26"><img src="static/img/gs750/tray_sm.jpg"></a>
    <div id="img26" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/gs750/tray.jpg"/>
        <br><br>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img25" class='previous'><</a>
        <a href="#img27" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img27"><img src="static/img/gs750/fusebox_sm.jpg"></a>
    <div id="img27" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/gs750/fusebox.jpg"/>
        <br><br>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img26" class='previous'><</a>
        <a href="#img20" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->
  </div><!--gallery-->

  <h3>Notes:</h3>
  <ul>
    <li>I taught myself to TIG weld for this project so I could chop the rear part of the frame off and weld a tail hoop on. </li>
    <li>It turns out that the T model of the GS750 is a hodgepodge of other Suzuki bikes.  Most problematic is that the front end is from their sub-500cc bikes, so the front brake was essentially useless and the handling not great.  After rebuilding the brake caliper and master cylinder, and swapping the master cylinder for one from a GSXR, I finally just swapped the entire front end.  The bike now has the triple tree, forks, and dual disc brakes from an 83 GS750E.</li>
    <li>The engine is the 16 valve model and the predecessor to the first GSX-R engine.  Susuzki must have used clutch springs from a weaker engine because the stock clutch slips at peak torque even if everything else is in good condition and adjusted correctly.  I replaced the stock clutch springs with aftermarket heavier springs and it seems to have solved the issue.</li>
    <li>When I first got the bike the carb floats weren't adjusted correctly and the petcock leaked, so the carbs overflowed and significant amount of gasoline made it into the oil.  I didn't notice right away and now there is a pretty bad valve oil leak.  I'm really hoping the gas in the oil just degraded the valve seals but I won't know until I take it apart to look.  I'll likely rebuild the head sometime this year.</li>
  </ul>
  
<!-- Pager -->
<hr />
<div class="grid-pager">
    <div class="grid-prev"><a class="btn-primary" href="{{prev}}">< prev.</a></div>
    <div class="grid-home"><a class="btn-primary" href="{{url_for('index')}}">home</a></div>
    <div class="grid-next"><a class="btn-primary" href="{{next}}">next ></a></div>
</div>

{% endblock %}