{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="gallery">
    {% for image in images %}
    <a class="lightbox" href="#img{{ image.name }}"><img src="{{ url_for('static', filename='img/gs750/') }}{{ image.name }}_sm.jpg"></a>
    <div id="img{{ image.name }}" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="{{ url_for('static', filename='img/gs750/') }}{{ image.name }}.jpg"/>
        {% if image.details %}
        <br /><br /><h2 class="lightbox-caption">{{image.details}}</h2>
        {% endif %}
        <a class="lightbox-close" href="#_"></a>
        {% if loop.last %}
          <a href="#img{{ loop.previtem['name'] }}" class='previous'><</a>
          <a href="#img{{ images[0].name }}" class='next'>></a>
        {% elif loop.first %}
          <a href="#img{{ images[7].name }}" class='previous'><</a> <!-- TODO: Don't hard-code index of last item in loop -->
          <a href="#img{{ loop.nextitem['name'] }}" class='next'>></a>
        {% else %}
          <a href="#img{{ loop.previtem['name'] }}" class='previous'><</a>
          <a href="#img{{ loop.nextitem['name'] }}" class='next'>></a>
        {% endif %}
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->
    {% endfor %}
</div><!--gallery-->
<br />
  <h3>Notes:</h3>
  <ul>
    <li>I taught myself to TIG weld for this project so I could chop the rear part of the frame off and weld a tail hoop on. </li>
    <li>It turns out that the T model of the GS750 is a hodgepodge of other Suzuki bikes.  Most problematic is that the front end is from their sub-500cc bikes, so the front brake was essentially useless and the handling not great.  After rebuilding the brake caliper and master cylinder, and swapping the master cylinder for one from a GSXR, I finally just swapped the entire front end.  The bike now has the triple tree, forks, and dual disc brakes from an 83 GS750E.</li>
    <li>The engine is the 16 valve model and the predecessor to the first GSX-R engine.  Susuzki must have used clutch springs from a weaker engine because the stock clutch slips at peak torque even if everything else is in good condition and adjusted correctly.  I replaced the stock clutch springs with aftermarket heavier springs and it seems to have solved the issue.</li>
    <li>When I first got the bike the carb floats weren't adjusted correctly and the petcock leaked, so the carbs overflowed and significant amount of gasoline made it into the oil.  I didn't notice right away and now there is a pretty bad valve oil leak.  I'm really hoping the gas in the oil just degraded the valve seals but I won't know until I take it apart to look.  I'll likely rebuild the head sometime this year.</li>
  </ul>
  
<!-- Pager -->
<hr />
<div class="grid-pager">
    <div class="grid-prev"><a class="btn-primary" href="{{prev}}">< prev.</a></div>
    <div class="grid-home"><a class="btn-primary" href="{{url_for('index')}}">home</a></div>
    <div class="grid-next"><a class="btn-primary" href="{{next}}">next ></a></div>
</div>

{% endblock %}