{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<a href="{{url_for('dive')}}" class="post-preview"> 
<div >
      <img class="preview" src="{{ url_for('static',filename='img/dive/DIVEcam8_sm.jpg')}}">
      <h2 class="post-title">D.I.V.E Marine Live-Stream System</h2>
      <h3 class="post-subtitle">Highline's Marine Science and Technology Center at Redondo Beach wanted an underwater video live-streaming system that could monitor the Puget Sound 24/7. </h3>
</div><!--end post-->
</a>
<hr>

<a href="{{url_for('miniped')}}" class="post-preview"> 
<div>
    <img class="preview" src="{{ url_for('static',filename='img/miniped/mountMockup_sm.jpg')}}">
    <h2 class="post-title">Miniped</h2>
    <h3 class="post-subtitle">Probably a bad idea.</h3>
</div><!--end post--> 
</a>

<hr>

<a href="{{url_for('rabbit')}}" class="post-preview"> 
<div class="post-preview">
    <img class="preview" src="{{ url_for('static',filename='img/rabbit/rabbit_sm.jpg')}}">
    <h2 class="post-title">1981 Volkswagen Rabbit</h2>
    <h3 class="post-subtitle">Engine swap from the original diesel motor to a 1.8L high-compression gasser motor I converted from fuel injection to carboration. </h3>
</div><!--end post-->
</a>

<hr>

<a href="{{url_for('gs750')}}" class="post-preview">
<div>
    <img class="preview" src="{{ url_for('static',filename='img/gs750/gs750_sm.jpg')}}">
    <h2 class="post-title">1982 Suzuki GS750</h2>
    <h3 class="post-subtitle">Making a mediocre bike with a great motor a little less mediocre.</h3>
</div><!--end post-->
</a>
        
{% endblock %}
