<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../static/public/favicon.ico" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/3.25.3/antd.css" />

	<link rel="stylesheet" href="../static/public/styles/main_react.css" />


	
	 <!-- Fonts -->
	 <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	 <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	 <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css">
   
	


	<title>Anne Julian</title>
</head>
<body>
	<div id="content"></div>
	<script src="./../static/public/bundle.js"></script>

</body>
</html>
	


