{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<br><p>Highline's Marine Science and Technology Center at Redondo Beach wanted an underwater video streaming system that could monitor the Puget Sound 24/7.
    With no budget available I built one for them out of spare items slated for recycling.
    The system utilized three USB webcams mounted at different depths in the Puget Sound in a waterproof enclosure supplied by the MaST Center, and connected to Dell E6400 laptops via 30ft USB cords.
    <br><br>Some project details:</p><br>
    <ul>
      <li>Webcam feeds streamed over the network via RTSP to a Wowza media server for distribution, to reduce usage of the limited MaST center bandwidth.</li><br>
      <li>Controlled by two bash scripts. One script initializes the video streams and transcoding using CVLC, and the other runs as a cron job to detect stream failures and automatically restart the stream since CVLC does not have that functionality built in.</li><br>
      <li>Laptops provided resiliency against the regular power outages at the MaST center and enough computing resources to live transcode the video feed.</li>
    </ul>

<div class="gallery">

    <a class="lightbox" href="#img1"><img src="static/img/mast/DIVEcam6_sm.jpg"></a>
    <div id="img1" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/mast/DIVEcam6.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img9" class='previous'><</a>
        <a href="#img2" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img2"><img src="static/img/mast/DIVEcam7_sm.jpg"/></a>
    <div id="img2" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/mast/DIVEcam7.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img1" class='previous'><</a>
        <a href="#img3" class='next'>></a>
       </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img3"><img src="static/img/mast/DIVEcam8_sm.jpg"/></a>
    <div id="img3" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/mast/DIVEcam8.jpg"/>
          <a class="lightbox-close" href="#_"></a>
          <a href="#img2" class='previous'><</a>
          <a href="#img4" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img4"><img src="static/img/mast/DIVEcam9_sm.jpg"/></a>
    <div id="img4" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/mast/DIVEcam9.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img3" class='previous'><</a>
        <a href="#img5" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img5"><img src="static/img/mast/DIVEcam_sm.jpg"/></a>
    <div id="img5" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/mast/DIVEcam.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img4" class='previous'><</a>
        <a href="#img6" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img6"><img src="static/img/mast/DIVEcam2_sm.jpg"/></a>
    <div id="img6" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/mast/DIVEcam2.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img5" class='previous'><</a>
        <a href="#img7" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

  <a class="lightbox" href="#img7"><img src="static/img/mast/DIVEcam3_sm.jpg"/></a>
  <div id="img7" class="lightbox-target">
    <div class="lightbox-image-container">
      <img src="static/img/mast/DIVEcam3.jpg"/>
      <a class="lightbox-close" href="#_"></a>
      <a href="#img6" class='previous'><</a>
      <a href="#img8" class='next'>></a>
    </div><!--lightbox-image-container-->
  </div><!--lightbox-target-->

  <a class="lightbox" href="#img8"><img src="static/img/mast/DIVEcam4_sm.jpg"/></a>
  <div id="img8" class="lightbox-target">
    <div class="lightbox-image-container">
      <img src="static/img/mast/DIVEcam4.jpg"/>
      <a class="lightbox-close" href="#_"></a>
      <a href="#img7" class='previous'><</a>
      <a href="#img9" class='next'>></a>
    </div><!--lightbox-image-container-->
  </div><!--lightbox-target-->

  <a class="lightbox" href="#img9"><img src="static/img/mast/DIVEcam5_sm.jpg"/></a>
  <div id="img9" class="lightbox-target">
    <div class="lightbox-image-container">
      <img src="static/img/mast/DIVEcam5.jpg"/>
      <a class="lightbox-close" href="#_"></a>
      <a href="#img8" class='previous'><</a>
      <a href="#img1" class='next'>></a>
    </div><!--lightbox-image-container-->
  </div><!--lightbox-target-->
</div><!--gallery-->

<h3>Build goals and constraints:</h3>
<ul>
  <li>Budget: Less than $500.  All hardware must come from the recycling pile, all software must be open source and free</li>
  <li>Live-stream should be up 24/7</li>
  <li>Available for viewing from external networks (the internet)</li>
  <li>Automated; live-stream should maintain itself</li>
  <li>Extreme environment; the system will be submerged 24/7 in the Puget Sound and would need to withstand salt water, storms, the tides, and sea life growth such as barnacles and algae for weeks at a time</li>
  <li>Battery backup required; power outages are common at the mast due to its location</li>
  <li>Limited USB controller bandwidth limits the number of USB cameras that can be connected at once to a single server</li>
  <li>Limited network bandwidth prohibits streaming directly to the web from the MaST since each new session takes up more bandwidth</li>
</ul><br>
<h3>Build notes:</h3>
<ul>
  <li>The MaST center is built on a dock that extends into the Puget Sound on Redondo Beach.  There is an aquarium at the end of the dock with two server racks tucked behind stacks of aquarium tanks filled with various sea creatures.  The building is not sealed from the environment and is meant to be an extension of the Puget Sound its build over, so the air is very salty and its common for the closet floor to be wet with salt water from the aquarium tanks.  I expected the equipment kept there to rust quite quickly but other than salt that tended to built up on the cases it held up very well.  The camera enclosure was submerged in the Sound, lashed to the dock and the USB cables were run up through the enclosure and into the aquarium building through a hole built into the wall for other cable runs.</li>
  <li>Streaming over the network to a media distribution server in our data center and then serving the streams to the web from that server solved the limited bandwidth issue, but introduced a new issue: the server required the video stream to be transported with RSTP which the streaming software I was using didn't support.</li>
  <li>The RTSP requirement necessitated streaming with command line VLC (CVLC), which meant I couldn't use Raspberry Pis. I originally wanted to use Raspberry Pis, but at the time they did not have enough compute resources to transcode the video stream from a USB webcam in real time and the streaming software that works with the picam didn't support RTSP.  Logitech made a cheap webcam with built in transcoding that would have been ideal, but getting it to work with my environment proved to be difficult and I chose to pursue the method that was already working at the time.</li>
  <li>CVLC could stream via RTSP but wasn't resilient.  Even a split second loss in network connection would halt the stream and it would have to be restarted manually.  To resolve this issue I wrote a couple scripts to detect dropped connections and restart the stream if necessary.</li>
  <li>The MaST and I discussed potting the webcams in epoxy but this would have left the cables exposed to the elements, and with basically no budget we didn't want to risk bricking any webcams in testing. Waterproof enclosures available on the market weren't meant to withstand salt water and sea life for extended periods of time, so the MaST ultimately constructed a PVC enclosure with three portholes at three separate heights that could be lowered into the sound.</li>
  <li>I found some old laptops lying around and chose to use them as media servers to transcode the video streams and send them to the media distribution server.  Very limited USB bandwidth meant I needed one laptop per camera, which was definitely not an elegant solution but worth it because the laptop batteries also provided a UPS during the MaST's common power outages.</li>
  <li>I utilized JW Player to embed the live streams on a web page, which is not free but Highline College already had a license for it.</li>
  <li>Coordinating with the network team was necessary to poke holes in Highline's firewalls for the stream traffic, reserve IPs for the streaming servers, and make the video streams served by the media distribution server available from external networks.  I also worked with them to add a switch to the MaST server closet since there were only two RJ45 ports available.</li>
</ul>

<!-- Pager -->
<hr />
<div class="grid-pager">
    <div class="grid-prev"><a class="btn-primary" href="{{prev}}">< prev.</a></div>
    <div class="grid-home"><a class="btn-primary" href="{{url_for('index')}}">home</a></div>
    <div class="grid-next"><a class="btn-primary" href="{{next}}">next ></a></div>
</div>

{% endblock %}