{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<p>
    I originally bought this pitbike to be toy to bring on the next Gambler 500 but it quickly got way out of hand.  
    After fixing it up and riding it on a whim in a local moped endurance ride, I became enamoured with 
    the idea of a moped project.  Mopeds are crazy expensive where I live so instead I picked up a trashed
    moped engine for eighty bucks and set about finagling it into the pitbike.  
</p>

<div class="gallery">
    {% for image in images %}
    <a class="lightbox" href="#img{{ image.name }}"><img src="{{ url_for('static', filename='img/miniped/') }}{{ image.name }}_sm.jpg"></a>
    <div id="img{{ image.name }}" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="{{ url_for('static', filename='img/miniped/') }}{{ image.name }}.jpg"/>
        {% if image.details %}
        <br /><br /><h2 class="lightbox-caption">{{image.details}}</h2>
        {% endif %}
        <a class="lightbox-close" href="#_"></a>
        {% if loop.last %}
          <a href="#img{{ loop.previtem['name'] }}" class='previous'><</a>
          <a href="#img{{ images[0].name }}" class='next'>></a>
        {% elif loop.first %}
          <a href="#img{{ images[1].name }}" class='previous'><</a> <!-- TODO: Don't hard-code index of last item in loop -->
          <a href="#img{{ loop.nextitem['name'] }}" class='next'>></a>
        {% else %}
          <a href="#img{{ loop.previtem['name'] }}" class='previous'><</a>
          <a href="#img{{ loop.nextitem['name'] }}" class='next'>></a>
        {% endif %}
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->
    {% endfor %}
</div><!--gallery-->
<br />

<!-- Pager -->
<hr />
<div class="grid-pager">
    <div class="grid-prev"><a class="btn-primary" href="{{prev}}">< prev.</a></div>
    <div class="grid-home"><a class="btn-primary" href="{{url_for('index')}}">home</a></div>
    <div class="grid-next"><a class="btn-primary" href="{{next}}">next ></a></div>
</div>


{% endblock %}