{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="gallery">

    <a class="lightbox" href="#img10"><img src="static/img/rabbit/rabbit_sm.jpg"></a>
    <div id="img10" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/rabbit/rabbit.jpg">
        <a class="lightbox-close" href="#_"></a>
        <a href="#img17" class='previous'><</a>
        <a href="#img11" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img11"><img src="static/img/rabbit/carb_sm.jpg"></a>
    <div id="img11" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/rabbit/carb.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img10" class='previous'><</a>
        <a href="#img12" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img12"><img src="static/img/rabbit/throttlecable_sm.jpg"></a>
    <div id="img12" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/rabbit/throttlecable.jpg"/>
        <br><br><h2 class="lightbox-caption">FUN FACT: I now carry a fire extinguisher in the car after the machine screws holding the carb together backed out, the top half of the carb separated from the bottom half, and the whole thing caught on fire.</h2>

        <a class="lightbox-close" href="#_"></a>
        <a href="#img10" class='previous'><</a>
        <a href="#img13" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

   <a class="lightbox" href="#img13"><img src="static/img/rabbit/pulley_sm.jpg"></a>
    <div id="img13" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/rabbit/pulley.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img12" class='previous'><</a>
        <a href="#img14" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

   <a class="lightbox" href="#img14"><img src="static/img/rabbit/sketching_sm.jpg"></a>
    <div id="img14" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/rabbit/sketching.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img13" class='previous'><</a>
        <a href="#img15" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

   <a class="lightbox" href="#img15"><img src="static/img/rabbit/fusebox_sm.jpg"></a>
    <div id="img15" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/rabbit/fusebox.jpg"/>
        <br><br><h2 class="lightbox-caption">FUN FACT: I wired the first ignition coil wrong and it exploded.  The coil pictured is a second one I had lying around my garage.</h2>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img14" class='previous'><</a>
        <a href="#img16" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img16"><img src="static/img/rabbit/fuelpump_sm.jpg"></a>
    <div id="img16" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/rabbit/fuelpump.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img15" class='previous'><</a>
        <a href="#img10" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

    <a class="lightbox" href="#img17"><img src="static/img/rabbit/regulator_sm.jpg"></a>
    <div id="img17" class="lightbox-target">
      <div class="lightbox-image-container">
        <img src="static/img/rabbit/regulator.jpg"/>
        <a class="lightbox-close" href="#_"></a>
        <a href="#img16" class='previous'><</a>
        <a href="#img10" class='next'>></a>
      </div><!--lightbox-image-container-->
    </div><!--lightbox-target-->

  </div><!--gallery-->
  The 1.6L diesel engine in my Mk1 Rabbit kicked the bucket, and instead of spending thousands of dollars on a rebuild I 
  decided to build my own based on a gasoline Volkswagen engine I found for $300. The build required a significant amount 
  of custom work and sourcing parts from a handful of different VW models from two different generations. Most of the work 
  centered around creating or finding all the equipment a gasoline engine needs that a diesel doesn't have, and integrating 
  the computer required to control the ignition system. I also took care to do swap in a way that could be easily converted 
  back to diesel in the future. 

  <h3>Notes:</h3>
          <ul>
            <li>VW used the same engine block for their diesel and gasoline engines from the 1970s to the 1990s, making a lot of the parts (including the transmission and engine mounts) interchangeable.  The junkyard near my house happened to have a single engine that used that block so I bought it, after compression testing it in the junkyard to make sure it wasn't completely trashed.</li>
            <li>That engine turned out to be a high compression engine that wouldn't run right without a special computer to detect and prevent knock.  By combing through the Bentley manual I noticed that VW used the same basic ignition control system between the 70s and the 90s, adding on sensors and computers as technology advanced but keeping the core parts, including the two that I needed, the same.  This meant I just had to find any ignition system from within that time period and it would include the ignition control unit and knock computer I needed.  I ended up getting really lucky and found a complete ignition system on eBay for an unknown VW from the 80s.</li>
            <li>I compared the mystery igntion system from eBay to the wiring diagrams in my Bentley manual until I found one that matched.  Then all I had to do was determine what I had to keep, and cut out all the connectors and wires I didn't need.</li>
            <li>The glow plug circuit for the diesel is constantly powered when the ignition is on, but a relay in the circuit cuts power to the glow plugs after seven seconds.  By replacing that relay with a standard high amperage relay I was able to repurpose the glow plug circuit for the ignition system and avoided having to modify the original wiring or fusebox.</li>
            <li>There was no wiring for a fuel pump because the diesel fuel pump was mechanical.  The engine I purchased used an electric fuel pump, but a few models of pre-1980 gasoline mk1 Volkswagens with the same engine block also used a mechanical fuel pump so I was able to source one that would work.</li>
            <li>Finding a water pump pulley that would line up with the alternator and crankshaft pulleys took longer than anything else.  Offset and other dimensions weren't available, so I had no way to identify the correct one prior to purchase.  I was considering fabricating one, but I found the winning pulley off of an Audi 4000 (after purchasing and trying about three others first).</li>
            <li>The carb, a Weber 32/36, came with frustrating flaws directly from Weber.  At one point the car died on the highway, and while diagnosing the issue back at my shop the carb caught on fire (the screws holding the carb intake to the carb body backed out, the carb intake separated and fuel splashed out all over the intake and exhaust).  Also, the accelerator pump jet was missing its ball valve, which I discovered after the accelerator pump jet backed out and was rattling around loose in the carb.</li>
           
          </ul>
<!-- Pager -->
<hr />
<div class="grid-pager">
    <div class="grid-prev"><a class="btn-primary" href="{{prev}}">< prev.</a></div>
    <div class="grid-home"><a class="btn-primary" href="{{url_for('index')}}">home</a></div>
    <div class="grid-next"><a class="btn-primary" href="{{next}}">next ></a></div>
</div>


{% endblock %}